body {
  margin: 0;
  padding: 0;
  font-family: Nunito, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.parent {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}
.input {
  width: 15rem;
  height: 1.8rem;
}
label {
  font-size: 1.2rem;
  font-weight: 500;
}
.form-control {
  margin-bottom: 2px;
}
.btn {
  width: 15.5rem;
  font-size: larger;
  padding: 0.5rem;
  margin-top: 20px;
}
